body {
    background-color: rgb(204, 184, 68);
}

img {
    margin-top: 5em;
    margin-left: 25em;
}

form {
    margin-left: 25em;
    margin-top: 3em;
}

#button {
    background-color: #e7e7e7;
    color: black;
    font-size: 16px;
    padding: 8px 26px;
    border-radius: 10px;
    height: 3em;
    width: 13em;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* float: left; */
    border: 2px solid rgb(8, 143, 8);
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#button:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#inline li {
    display: inline;
    text-align: justify;
}

.container {
    border: 3px solid rgb(155, 57, 57);
    margin-bottom: none;
    padding-bottom: none;
}

.border {
    border: 5px solid rgb(129, 79, 67);
    margin: 1em;
    background: rgb(240, 216, 216);
}

h1 {
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    text-decoration-line: underline;
}

.card {
    border: 5px solid olivedrab;
    margin: 1em;
    padding-bottom: 0;
    background: rgb(90, 138, 135);
}

img {
    padding-top: none;
    margin-top: 2em;
}

h3 {
    text-align: justify;
    color: darkred;
    margin-left: 2.2em;
    text-decoration: underline
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input {
    height: 30px;
    size: 80;
    text-align: center;
    width: 35%
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#unit{
    height: 35px;
    width: 60px;
}
#strong {
    color: darkblue;
    text-decoration: underline;
    font-size: large;
    ;
}

#algo {
    border: 5px solid brown;
    border-radius: 1em;
    padding: 1.5em;
    text-align: justify;
    margin: 2em;
    display: inline-block;
    font-weight: bolder;
    font-size: 1.2em;
    float: left;
    background-color: peru;
}

.code {
    border: 5px solid #681739;
    margin: 2em;
    float: left;
    border-radius: 0.5em;
    padding: 1em;
    font-weight: bolder;
    color: rgb(75, 3, 3);
    background-color: rgb(240, 240, 113);
    display: inline-block;
}

h2 {
    color: rgb(60, 83, 14);
    text-decoration: underline;
}

#algo h3 {
    font-weight: bold;
    font-size: 1.3em;
}
#i{

    width: 200px;
    height: 20px;
    background-color:  rgb(240, 240, 113);
    animation-name: test;
    transition-delay: 5s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes test {

    from {background-color:  rgb(240, 240, 113);}
    to {background-color: rgb(76, 168, 230);}
} 

#popup{
    border:3px solid black;
    width: 100%;
    height: 480px;
    background-color: #efefef;
    display: none;
} 

.responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width:70%;
}
#rotate {
    width: 80px;
    height: 50px;
    background: rgb(161, 78, 78);
    transition: width 2s, height 2s, transform 2s;
    font-weight: bold;
    font-size: 1em;
}
  
  #rotate:hover {
    width: 150px;
    height: 115px;
    transform: rotate(360deg);
  }